// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// header Dropdown がcontainerと重なってしまうのを修正。
.container{
    z-index: 1; // 数値が低い方が表示が上にくる

}
.dropdown-menu{
    z-index: 2;
}

//DBテーブル テキスト折り返し
table td {
  word-break : break-all;
}

//エラーメッセージ
ul.errors > li {
    color: red;
}