@import url(https://fonts.googleapis.com/css?family=Noto+Serif+JP);@charset "UTF-8";

/* ---------- body ----------*/

body {
  font-family: "Sawarabi Gothic", sans-serif;
}

h1 {
  color: #cc9966;
}

/* ---------- font ---------- */

.term {
  font-family: "Noto Serif JP", sans-serif;
}

.term h2 {
  font-size: 35px;
  margin-bottom: 15px;
  color: #cc9966;
}

.term p {
  font-size: 20px;
  font-weight: bold;
}

/* ---------- top-container 上部の背景画像---------- */

main > section {
  background-image: url(/images/background_image.jpg?62bc9d2cf330cb8f5d15742b5d6216e7);
  background-position: center;
  background-repeat: no-repeat;
}

/* ---------- container ---------- */

.container {
  margin-top: 20px;
  opacity: 0.9;
  letter-spacing: 1px;
}

.container a:hover {
  filter: drop-shadow(2px 2px 2px silver);
}

/* ---------- form ----------*/

.form-button {
  margin: 20px auto;
}

/* ---------- footer ---------- */

footer {
  text-align: center;
}

.container-footer {
  margin-right: 50px;
}

.container-footer a:hover {
  background-color: white;
}

/* ---------- javascript ----------*/

.pagetop {
  display: none;
  padding: 40px 10px;
  background-color: #ffcc99;
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.pagetop:hover {
  color: #fff;
  filter: drop-shadow(2px 2px 2px silver);
  cursor: pointer;
}

