@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');


/* ---------- header ---------- */
.navbar {
    font-family: "Sawarabi Gothic", sans-serif;
}

.header-image {
    width: 220px;
    height: 110px;
}

.navbar-brand {
    font-size: 23px;
}

.navbar-nav {
    font-size: 18px;
    font-weight: bold;
}

.dropdown-toggle {
    font-size: 18px;
    font-weight: bold;
}


/* ---------- background-image 上部の背景画像---------- */
main > section
.bg-image-1 {
    background-image: url('images/barista01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 720px;
}

// .bg-image-2 {
//     background-image: url('images/coffeebeans.png');
//     background-position: right;
//     background-repeat: no-repeat;
//     background-size: 160px;
// }

.bg-mask{
    // height: 100%;
    background-color: rgb(255, 255, 255, 0.7);
}


/* ---------- body ----------*/
body {
    background-color: white; //#FFCC99, #cc9966
    // background-image: repeating-conic-gradient(#996633,#FFCC99 10%);
    // background-image: repeating-radial-gradient(#996633,#FFCC99 10%);
    // background-image: repeating-linear-gradient(#996633,#FFCC99 1%);
    font-family: "Sawarabi Gothic", sans-serif;
}


.btn {
    opacity: 0.8;
}


/* ---------- container ---------- */
.user-name {
    font-size: 40px;
    // color: #cc9966;
    margin-bottom: 15px; 
}

.container {
    margin-top: 20px;
    opacity: 0.9;
    letter-spacing: 1px;
}

.container a:hover {
	filter: drop-shadow(1px 1px 1px silver);
}


/* ---------- form ----------*/
.form-button {
    // text-align: center;
    margin: 20px auto;
}


/* ---------- footer ---------- */
footer {
    text-align: center;
}

.container-footer {
    margin-right: 50px;
}

.container-footer a:hover {
    background-color: white;
}


/* -------- button ----------*/
.btn {
    box-shadow: 0 2px gray;
}

.btn a:hover {
	filter: drop-shadow(1px 1px 1px silver);
}

.btn:active {
    box-shadow: none;
}



/* ---------- term.blade.php ---------- */
.term {
    font-family: "Noto Serif JP", sans-serif;
}

.term h2 {
    font-size: 35px;
    margin-bottom: 15px;   
    color: #cc9966;
}

.term p {
    font-size: 20px;
    font-weight: bold;
}

.term ul {
    list-style: none;
}





/* ---------- javascript ----------*/
// pagetopボタンアクション
.pagetop {
  display: none;
  
  padding: 40px 10px;
  background-color: #ffcc99;
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
  
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.pagetop:hover {
//   background-color: #33ccff;
  color: #fff;
  filter: drop-shadow(2px 2px 2px silver);
  cursor: pointer;
}