@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');


/* ---------- header ---------- */
.navbar {
    font-family: "Sawarabi Gothic", sans-serif;
}

.header-image {
    width: 220px;
    height: 120px;
}

.navbar-brand {
    font-size: 23px;
}

.navbar-nav {
    font-size: 18px;
    font-weight: bold;
}

.dropdown-toggle {
    font-size: 18px;
    font-weight: bold;
}


/* ---------- background-image 上部の背景画像---------- */
main > section
.bg-image-1 {
    background-image: url('images/barista01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 770px;
}

.bg-mask{
    // height: 100%;
    background-color: rgb(255, 255, 255, 0.7);
}


/* ---------- body ----------*/
body {
    background-color: white; //#FFCC99, #cc9966
    // background-image: repeating-conic-gradient(#996633,#FFCC99 10%);
    // background-image: repeating-radial-gradient(#996633,#FFCC99 10%);
    // background-image: repeating-linear-gradient(#996633,#FFCC99 1%);
    font-family: "Sawarabi Gothic", sans-serif;
}



/* ---------- container ---------- */
.user-name {
    font-size: 40px;
    // color: #cc9966;
    margin-bottom: 15px; 
}

.container {
    margin-top: 20px;
    opacity: 0.9;
    letter-spacing: 1px;
}

.container a:hover {
	filter: drop-shadow(1px 1px 1px silver);
}


/* ---------- form ----------*/
.form-button {
    margin: 20px auto;
}


/* --------- post-section ----------*/
.date {
    font-size: 16px;
    margin-bottom: 10px;
}

.draw {
    margin-bottom: 20px;
}


/* --------- Side widget ---------*/
.side-widget-name {
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.2em;
}

.side-widget-count {
    font-size: 15px;
    text-align: center;
}

.text {
    font-weight: bold;
}

.post-count {
    color: #cc9966;
    font-weight: bold;
}

/* ---------- footer ---------- */
footer {
    text-align: center;
}

.container-footer {
    margin-right: 50px;
}

.container-footer a:hover {
    background-color: white;
}


/* --------- text テキスト ---------- */
// .text {
//     letter-spacing: 0.2em;
// }


/* -------- button ボタン ----------*/
.btn {
    box-shadow: 0 2px gray;
    opacity: 0.7;
}

.btn a:hover {
	filter: drop-shadow(1px 1px 1px silver);
}
  //影を利用してボタンがクリックする動き
.btn:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}


/* ---------- イイねボタン ----------*/
i {
    font-size: 18px;
}

.badge {
    color: red;
    font-size: 14px;
    margin-bottom: 2px;
}

// .heart {
//     color: red;
//     margin-left: 8px;
//     margin-bottom: 2px;
// }

.good {
    color: red;
    margin-left: 8px;
    margin-bottom: 2px;
}

.like {
    font-size: 14px;
    // font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
}


/* ---------- comment 投稿部分 ----------*/
.comment {
    border-style: dashed;
    border-width: 2px;
    border-color: #DEB887;
    padding: 5px;
}


/* ---------- icon アイコン ---------- */
.ranking {
    color: #FFD700;
    font-size: 22px;
}


/* --------- mypage & info.blade.php ---------- */
.table-text {
    color: gray;
}

.edit {
    text-align: center;
    font-size: 16px;
}

.delete {
    text-align: center;
    font-size: 16px;
}


/* ---------- term.blade.php ---------- */
.term {
    font-family: "Noto Serif JP", sans-serif;
}

.term h2 {
    font-size: 35px;
    margin-bottom: 15px;   
    color: #cc9966;
}

.term p {
    font-size: 20px;
    font-weight: bold;
}

.term ul {
    list-style: none;
}

